<div class="row">
    <div class="col-sm-12">
    <h1>{{controller.title}}</h1>
        </div>
</div>

<div class="row">
   
    <!--<sample-ents-list stock-data="controller.data"></sample-ents-list>-->
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="controller.sendFreeMessage()">FreeMessage</button>
            </span>
            <input type="text" class="form-control" placeholder="Free message ..." ng-model="controller.freeMessage">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="controller.sendProtectedMessage()">ProtectedMessage</button>
            </span>
            <input type="text" class="form-control" placeholder="Protected message..." ng-model="controller.protMessage">            
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
   
</div>
<div class="row">
    <div class="col-md-6" style="margin-top:20px">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="controller.disconnectHub()">Disconnect</button>
            <button type="button" class="btn btn-default" ng-click="controller.connectHub()">Connect</button>
            <button type="button" class="btn btn-default" ng-click="controller.makeBadConnection()">BadConnection</button>
        </div>
        </div>
    </div>